html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bigger {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.smaller {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
}

.house {
  flex: 0 0 auto;
  background-color: green;
  width: 10%;
  height: auto;
  box-sizing: border-box;
  border: 5px solid white;
}

.infected {
  flex: 0 0 auto;
  background-color: red !important;
  width: 10%;
  height: auto;
  box-sizing: border-box;
  border: 5px solid white;
}

.button_container {
  margin-top: 20px;
}

button {
  margin: auto;
  display: block;
  font-family: ZombieFont;
  height: 40px;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: ZombieFont;
  margin-top: 20px;
}

li {
  font-family: ZombieFont;
  font-size: 35px;
}

p {
  font-family: ZombieFont;
  font-size: 35px;
}

@font-face {
  font-family: ZombieFont;
  src: url(Creepster-Regular.ttf);
}
